@model List<CollectionProp>

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 id="hcr" class="text-primary">Create</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label id="namel">Name</label>
            <input name="name" type="text" class="form-control" />
        </div>
        <div class="mb-3">
            <label id="tags">Tags (sep by '_ + ,')</label>
            <input id="itags" name="tags" type="text" class="form-control" />
        </div>
        <div class="mb-3">
            <label id="coll">Collection</label>
            <input type="text" value="@ViewData["Collection"]" name="collection" readonly="readonly" class="form-control" />
        </div>
        <div style="display:flex; flex-direction:column; gap: 5px">
        <div id="divPartial" class="containner custom-scrollbar" style="
                margin-left:0px;
                height: 300px;
                overflow-x: auto;
                overflow-y: hidden;
                text-align:justify; margin-top:25px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
        
      <div style="display:flex; flex-direction:row; gap: 5px"> 
          @{
                    foreach(var obj in Model)
                    {
                        <label>@obj.Name</label>
                        switch (@obj.Type)
                        {
                            case "string":
                                <input type="text" id="option1" name="props"/>
                                break;
                            case "number":
                                <input type="number" id="option1" name="props"/>
                                break;
                            case "txtfield":
                                <textarea rows="6" style="overflow-y: scroll; width: 250px" id="option1" name="props"></textarea>
                                break;
                            case "date":
                                <input type="date" id="option1" name="props"/>
                                break;
                        };
                    }
          }
        
        </div>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px" id="crbt">Create</button>
        <a id="back" asp-route-id="@ViewData["Collection"]" 
        asp-action="Collections" class="btn btn-secondary" style="width:150x">Back</a>
    </div>
    </div>
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $("#itags").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: '@Url.Action("GetTagsValue","Home")',
                dataType: "json",
                data: { search: $("#itags").val() },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item, value: item };
                    }));
                },
                error: function (xhr, status, error) {
                    alert("Error");
                }
            });
        },
    });
    if (localStorage.getItem('lang') === "ru"){
        document.getElementById("crbt").innerText = "Создать"
        document.getElementById("back").innerText = "Назад"
        document.getElementById("hcr").innerText = "Создать"
        document.getElementById("namel").innerText = "Название"
        document.getElementById("tags").innerText = "Теги (через '_ + ,')"
        document.getElementById("coll").innerText = "Коллекция"
    }
</script>
