@model dynamic

<div class="ibox" style="height:280px; margin-top: 50px; margin-bottom:15px; width: 500px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; border-radius: 5px;">
			<div style="margin-left: 10px; margin-top: 5px">
            <h1>Name: @Model.Item.Name</h1>
			<h3>Collection: <a asp-route-id="@Model.Item.Collection" asp-action="Collections">@Model.Item.Collection</a></h3>
			<h5>Tags: @Model.Item.Tags</h5>
            </div>
            <div class="containner custom-scrollbar" style="
                margin-left:0px;
                height: 120px;
                overflow-x: hidden;
                overflow-y: auto;
                text-align:justify; margin-top:25px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; color: black">
        
      <div style="display:flex; flex-direction:column; gap: 5px"> 
          @{
                foreach(var obj in Model.Props)
                {
                    if (@obj.Value != "")
                    {
                        <label>@obj.Value</label>
                    };
                      
                    }
          }
        
        </div>
        </div>
</div>
<div>
    <button value="empty" onclick="addlike()" id="likes"></button>
</div>
<div style="margin-top:80px; display:flex; flex-direction:row; gap: 10px">
    <div class="form-group">
    <label style="font-size:20px" class="col-form-label mt-4" for="inputDefault">Content</label>
     <textarea class="form-control" id="content" rows="6" name="comment" style="overflow-y: scroll; width: 350px"></textarea>
    <button type="submit" id="btadd" onclick="add()" class="btn btn-primary" style="margin-top: 30px">Comment</button>
    </div>


  <div id="divPartial" class="containner custom-scrollbar" style="
                margin:4px, 4px;
                padding:4px;
                width: 700px;
                height: 300px;
                overflow-x: hidden;
                overflow-y: auto;
                text-align:justify; margin-top:25px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
    <partial name="_Comments" />
</div>
</div>
 


<script>
    if (localStorage.getItem('lang') === "ru"){
        document.getElementById("btadd").innerText = "Отправить"
        document.getElementById("content").innerText = "Содержимое"
    }

    var but = document.getElementById("likes")
    but.textContent = "Likes " + @ViewData["likes"]
    if ("@ViewData["liked"]" === "yes"){
         but.style.backgroundColor='red';
         but.value = "full";
    }
    else{
        but.style.backgroundColor='#ffff'
    }
    
    function loadPartialView(){
         $.ajax({
            url: '@Url.Action("UpdateComments","Home")',
            data: {id: @TempData["ItemId"]},
            success: function (result) {
                $('#divPartial').html(result)
            },
            error: function (xhr, exception) {
                return false;
            }
            });
    }

    window.setInterval("loadPartialView()", 2000);
</script>

<script>
    function add(){
        var content = document.getElementById("content");
        if (content.value != ""){
            $.ajax({
            url: '@Url.Action("AddComment","Home")',
            data: {id: @TempData["ItemId"], content: content.value},
            success: function (result) {
                $('#divPartial').html(result)
            },
            error: function (xhr, exception) {
                return false;
            }
            });
            content.value = ""
        }
    }
    function addlike(){
        if (but.value === "empty"){
            $.ajax({
            url: '@Url.Action("AddLike","Home")',
            data: {id: @TempData["ItemId"]},
            success: function (result) {
                but.textContent = "Likes " + result;
                but.value = "full";
                but.style.backgroundColor='red'
            },
            error: function (xhr, exception) {
                return false;
            }
            });
        }
        else{
            $.ajax({
            url: '@Url.Action("RemoveLike","Home")',
            data: {id: @TempData["ItemId"]},
            success: function (result) {
                but.textContent = "Likes " + result
                but.value = "empty";
                but.style.backgroundColor='#ffff'
            },
            error: function (xhr, exception) {
                return false;
            }
            });
        }
        
    }
</script>