@{
    ViewData["Title"] = "Profile";
}
@model List<MCollection>

<div style="width: 1500px" class="profile">
    
      <form onsubmit="disableEmptyInputs(this)" id="myform" method="post" enctype="multipart/form-data" asp-action="UpdateCollections">
        <div style="margin-left: -150px; display:flex; flex-direction:column; gap: 20px">
        <div style="display:flex; flex-direction:column; gap: 5px">
        <h1>@TempData["whois"]</h1>
        <a class="btn btn-primary" asp-action="Logout" id="logout">Logout</a>
        </div>
        <input value="@TempData["whois"]" name="user" type="text" style="visibility:hidden; height:1px">
        
        <input id="ifile" name="file" type="file">
        <div style="display:flex; flex-direction:column">
             <div class="form-group">
        <label class="col-form-label mt-1" for="inputDefault" id="lname">Name</label>
        <input type="text" class="form-control" name="name" id="name" style="width: 250px; font-size: 20px">
      </div>
      <div class="form-group">
        <label class="col-form-label mt-3" for="inputDefault"  id="ltheme">Theme</label>
        <input type="text" class="form-control" name="theme" id="itheme" style="width: 250px; font-size: 20px">
      </div>
      <div class="form-group">
          <label for="exampleTextarea" class="form-label mt-3"  id="ldescr">Describtion</label>
          <textarea class="form-control" name="describtion" id="describtion" rows="6" style="overflow-y: scroll; width: 250px"></textarea>
        </div>
    

        <div style="margin-top:3px; display:flex; flex-direction:column; gap: 5px">
            <div style="display:flex; flex-direction:row; gap: 5px"> 
            <input onchange="valnumb(this.id)" type="checkbox" id="rnumber1" name="ttypes"/>
            <label for="rnumber1">Number</label>
            <input disabled class="rnumber1" type="text" placeholder="Name" name="ttypes" style="width: 100px"/>

            <input onchange="valstr(this.id)" type="checkbox" id="rstring1" name="ttypes"/>
            <label for="rstring1">String</label>
            <input disabled class="rstring1" type="text" placeholder="Name" name="ttypes" style="width: 100px"/>

            <input onchange="valtxt(this.id)" type="checkbox" id="rtxt1" name="ttypes"/>
            <label for="rtxt1">Textfield</label>
            <input disabled class="rtxt1" type="text" placeholder="Name" name="ttypes" style="width: 100px"/>

            <input onchange="valdate(this.id)" type="checkbox" id="rdate1" name="ttypes"/>
            <label for="rdate1">Date</label>
            <input disabled class="rdate1" type="text" placeholder="Name" name="ttypes" style="width: 100px"/>


        </div>
        <div style="display:flex; flex-direction:row; gap: 5px"> 
            <input onchange="valnumb(this.id)" type="checkbox" id="rnumber2" name="ttypes"/>
            <label for="rnumber2">Number</label>
            <input disabled class="rnumber2" type="text" placeholder="Name" name="ttypes" style="width: 100px"/>

            <input onchange="valstr(this.id)" type="checkbox" id="rstring2" name="ttypes"/>
            <label for="rstring2">String</label>
            <input disabled class="rstring2" type="text" placeholder="Name" name="ttypes" style="width: 100px"/>

            <input onchange="valtxt(this.id)" type="checkbox" id="rtxt2" name="ttypes"/>
            <label for="rtxt2">Textfield</label>
            <input disabled class="rtxt2" type="text" placeholder="Name" name="ttypes" style="width: 100px"/>

            <input onchange="valdate(this.id)" type="checkbox" id="rdate2" name="ttypes"/>
            <label for="rdate2">Date</label>
            <input disabled class="rdate2" type="text" placeholder="Name" name="ttypes" style="width: 100px"/>

        </div>
        <div style="display:flex; flex-direction:row; gap: 5px"> 
            <input onchange="valnumb(this.id)" type="checkbox" id="rnumber3" name="ttypes"/>
            <label for="rnumber3">Number</label>
            <input disabled class="rnumber3" type="text" placeholder="Name" name="ttypes" style="width: 100px"/>

            <input onchange="valstr(this.id)" type="checkbox" id="rstring3" name="ttypes"/>
            <label for="rstring3">String</label>
            <input disabled class="rstring3" type="text" placeholder="Name" name="ttypes" style="width: 100px"/>

            <input onchange="valtxt(this.id)" type="checkbox" id="rtxt3" name="ttypes"/>
            <label for="rtxt3">Textfield</label>
            <input disabled class="rtxt3" type="text" placeholder="Name" name="ttypes" style="width: 100px"/>

            <input onchange="valdate(this.id)" type="checkbox" id="rdate3" name="ttypes"/>
            <label for="rdate3">Date</label>
            <input disabled class="rdate3" type="text" placeholder="Name" name="ttypes" style="width: 100px"/>

        </div>
        </div>
        <button type="submit" id="btadd" class="btn btn-primary" style="margin-top: 30px">Add collection</button> 
  
    </div>
      </div>


  </form>
<div id="divPartial" class="containner custom-scrollbar" style="
                margin:4px, 4px;
                padding:4px;
                width: 700px;
                height: 650px;
                overflow-x: hidden;
                overflow-y: auto;
                text-align:justify; margin-top:25px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
    <partial name="_CollectionsList" />
</div>
    
 
</div>

<script>
    function disableEmptyInputs(form) {
    var controls = form.elements;
    for (var i=0, iLen=controls.length; i<iLen; i++) {
        controls[i].disabled = controls[i].value == '';
    }
    }
    console.log(document.getElementsByName("user"))
    if (localStorage.getItem('lang') === "ru"){
        document.getElementById("lname").innerText = "Название"
        document.getElementById("ltheme").innerText = "Тема"
        document.getElementById("ldescr").innerText = "Описание"
        document.getElementById("btadd").innerText = "Добавить коллекцию"
    }

    if ("@ViewData["theme"]" === "dark"){
		const theme = document.querySelector("#theme-link");
		theme.href = "/css/bootstrapthemedark.css";
		const btn = document.getElementById("theme");
		btn.checked = true;
	}

    if ("@ViewData["admin"]" === "no"){
        document.getElementById("itheme").style.visibility = "hidden"
        document.getElementById("ifile").style.visibility = "hidden"
        document.getElementById("name").style.visibility = "hidden"
        document.getElementById("describtion").style.visibility = "hidden"
        document.getElementById("btadd").style.visibility = "hidden"
        document.getElementById("lname").style.visibility = "hidden"
        document.getElementById("ldescr").style.visibility = "hidden"
        document.getElementById("ltheme").style.visibility = "hidden"
    }

    if("@ViewData["button"]" === "no"){
        document.getElementById("logout").style.display = "none";
    }
    function valnumb(id){
        const element = document.getElementById(id)
        if (element.checked){
            element.value="number"
            document.getElementsByClassName(id)[0].disabled=false;
        }
        else{
            element.value=""
            document.getElementsByClassName(id)[0].disabled=true;
        }
    }
    function valstr(id){
        const element = document.getElementById(id)
        if (element.checked){
            element.value="string"
            document.getElementsByClassName(id)[0].disabled=false;
        }
        else{
            element.value=""
            document.getElementsByClassName(id)[0].disabled=true;
        }
    }
    function valtxt(id){
        const element = document.getElementById(id)
        if (element.checked){
            element.value="txtfield"
            document.getElementsByClassName(id)[0].disabled=false;
        }
        else{
            element.value=""
            document.getElementsByClassName(id)[0].disabled=true;
        }
    }
    function valyn(id){
        const element = document.getElementById(id)
        if (element.checked){
            element.value="yesno"
            document.getElementsByClassName(id)[0].disabled=false;
        }
        else{
            element.value=""
            document.getElementsByClassName(id)[0].disabled=true;
        }
    }
    function valdate(id){
        const element = document.getElementById(id)
        if (element.checked){
            element.value="date"
            document.getElementsByClassName(id)[0].disabled=false;
        }
        else{
            element.value=""
            document.getElementsByClassName(id)[0].disabled=true;
        }
    }

    function loadPartialView(){
         $.ajax({
            url: '@Url.Action("ShowCollections","Home")',
            data: {user: "@TempData["whois"]"},
            success: function (result) {
                $('#divPartial').html(result)
            },
            error: function (xhr, exception) {
                return false;
            }
            });
    }

    function del(id){
        if ("@ViewData["admin"]" === "yes" || "@ViewData["admin"]" === "ignor"){
            $.ajax({
            url: '@Url.Action("DeleteCollection","Home")',
            data: { name : id, user: "@TempData["whois"]"},
            success: function (result) {
                $('#divPartial').html(result)
            },
            error: function (xhr, exception) {
                return false;
            }
            });
        }
    }
    //window.setInterval("loadPartialView()", 2000);
</script>